.button {
    cursor: pointer;
    font:bold; 
    border: none;
    background-color: coral;
    color: black;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
  }