
  
  * {
    margin: 0;   
    padding: 0;
  }

  nav {
    text-align: left;
    vertical-align: top;
    width: 20%;
    height: 90%;
    font-size: 10px;
    background: cadetblue;
    padding: 0px;
    position: absolute;
    left:0;
    top:8%;
     
  }
  
  main {
    text-align: center;
    vertical-align: top;
    width: 80%;
    height: 90%;
    background-color:coral;
    position: absolute;
    right: 0;
  }

   

  #testing {
    border:0px;
    margin:0px;
    padding: 0px;
  }
