
  
  * {
    margin: 0;   
    padding: 0;
  }

  page {
    height: 100%;
    
  }
 
  
  main {
    text-align: center;
    vertical-align: top;
    width: 80%;
    height: 90%;
    background-color:coral;
    position: absolute;
    right: 0;
  }

  banner {
    text-align: center; 
    background-image: linear-gradient(to left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    margin: 0px;
    border:0px;
    margin: 0px;
    padding: 0px;
  } 
  html,body,.container {
    height:100%;
}
.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}